thirdparty/*
build/
dist/
*egg*/
*.swp
install.log
TMP
slurm-*
*.wfn
tests/*
chiripa/__pycache__/*
examples/EXAMPLE_12_Nwchem/__pycache__/*
tests/__pycache__/*
ext_libc/__pycache__/*
chiripa_gui/__pycache__/*
examples/EXAMPLE_13_Anisotropy_hexane_nitrob/*
Chiripa.egg-info/*
tests/Chiripa_Files/*
